$green: #6CA84A;
$dark-green: #119916;
$blue: rgb(0,110,199);
$orange:  #FF874F;
$dark-orange: #9d5700;
$violet:  #FF4098;
$dark-violet: #340141;
$light-blue: #4AA6B7;
$dark-blue: #0587b2;

$light-brown: rgb(176,165,109);
$light-orange: rgb(223,125,0);

$grey-darkest: #9c9c9c;
$grey-dark: #afafaf;
$grey: #c3c3c3;
$grey-light: #d8d8d8;
$grey-lightest: #fafafa;
$grey-even-darker: #d7d7d7;

$white: #FFFFFF;
$black: #151515;
$grey-text: rgb(51, 51, 51);

$grey-alpha-03: rgba(255, 255, 255, 0.3);

