navigation {
  background-color:lightgray;
  display: block;
}

navigation a {    
    text-decoration: none;
    padding:2px;
  }

navigation a:hover {
    text-decoration: underline;
    background-color:$light-orange;
    color:white;
}

navigation a:active {
    background-color:$light-orange;
  }

navigation {
  width: 100%;
  line-height: 60px;
  text-align: center;
  margin-bottom: 15px;

  .radar-title {
    background-color: $grey-light;
    padding-top: 30px;
    //padding-bottom: 30px;
    display: table;
    margin: auto;
    width: 100%;

    .radar-title__container {

      margin: auto;
      width: 90%;
      display: block;
      text-align:center;
      //height:90px;

      .radar-title__text {        
        h1 {
          font-size: 55px;                              
          margin: 0;
          padding: 0;  
          small {              
              font-size:x-small;
              color: gray;
              font-weight: lighter
           }         
        }
      }

      .radar-title__logo {
        float: right;
        a {
          border-bottom: none;
        }
        img {
          height: 50px;
        }
      }
    }
  }  

  .home-link {
    color: $blue;
    cursor: pointer;
    display: inline-block;
    font-size: $baseFont;
    width: 80%;
  }

  .button {
    font-size: $baseFont;
    text-transform: capitalize;
    display: inline-block;
    margin-right: 20px;
    border-radius: 5px;
    line-height: 1em;
    padding: 10px 20px;
    cursor: pointer;  
    transition: all .2s ease-out;

    background-color: $grey-light;
    color: $black;

    &.no-capitalize {
      text-transform: none;
    }

    &:hover, &.selected {

      transform: translate(0, -2px);
      opacity: .85;

      &.first {
        color: white;
        background-color: $green;
      }
      &.second {
        color: white;
        background-color: $blue;
      }
      &.third {
        color: white;
        background-color: $orange;
      }
      &.fourth {
        color: white;
        background-color: $violet;
      }
    }

    &.full-view {
      &.first {
        background-color: $green;
        color: $white;
      }
      &.second {
        background-color: $blue;
        color: $white;
      }
      &.third {
        background-color: $orange;
        color: $white;
      }
      &.fourth {
        background-color: $violet;
        color: $white;
      }
    }
  }
}