@import 'colors';
@import 'fonts';
@import 'tip';
@import 'form';
@import 'error';
@import 'header';
@import 'table';
@import 'navigation';


html{
  height: 100%;
}

body {
  font: 18px 'Montserrat';
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background: grey; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient( #fbfbfb, #dfe3e4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #fbfbfb, #dfe3e4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #fbfbfb, #dfe3e4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom right, #fbfbfb, #dfe3e4); /* Standard syntax (must be last) */
}

h1{
  font-weight: 900;
}

#logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#content {
  width: 80%;
  margin: auto;
  text-align: justify;
}

#blueprint {
  width: 80%;
  margin: auto;
  text-align: justify;
}



@media screen {

  .print-page-header {
    display:none;
  }

  #radar {
    padding-left:10%;
    padding-right:10%;
    margin: 0 auto;
    position: relative;
    padding-bottom:20px;
    overflow: overlay;

    svg#radar-plot {
      margin: 0 auto;
      transition: all 1s ease;
      //position: absolute;
      display: block;
      left: 0;
      right: 0;

      .legend {
        visibility: hidden;
        transition: visibility 1s ease 1s;
        color: $black;
      }

      path {
        &.ring-arc-3 {
          stroke: none;
          fill: $grey-light;
            -webkit-filter: drop-shadow( 10px 10px 10px #000 );
            filter: drop-shadow( 10px 10px 10px #000 ); /* Same syntax as box-shadow, except 
                                                       for the spread property */
        }
        &.ring-arc-2 {
          stroke: none;
          fill: $grey;
        }
        &.ring-arc-1 {
          stroke: none;
          fill: $grey-dark;
        }
        &.ring-arc-0 {
          stroke: none;
          fill: $grey-darkest;
        }
      }

      .blip-link {
        text-decoration: none;
        cursor: pointer;
      }

      .quadrant-group {
        cursor: pointer;
      }

      circle, polygon, path {
        &.first {
          fill: $green;
          stroke: none;
        }
        &.second {
          fill: $light-blue;
          stroke: none;
        }
        &.third {
          fill: $orange;
          stroke: none;
        }
        &.fourth {
          fill: $violet;
          stroke: none; 
        }
      }

      line {
        stroke: white;
      }

      text {
        &.blip-text {
          font-size: 9px;
          font-style: italic;
          fill: $white;
        }

        &.line-text {
          font-weight: bold;
          text-transform: uppercase;
          fill: $black;
          font-size: 11px;
        }
      }
    }

    div.quadrant-table {

      .quadrant-table__name {
        display: none;
      }

      max-height: 0;
      max-width: 0;
      position: absolute;
      overflow: hidden;

      transition: max-height 0.5s ease 1s;

      h3 {
        text-transform: uppercase;
        font-size: $baseFont;
        margin: 0;
        font-weight: bold;
      }

      &.first {
        right: 20px;

        &.selected {
          float: right;
        }
      }

      &.second {
        left: 20px;

        &.selected {
          float: left;
        }
      }

      &.third {
        left: 20px;

        &.selected {
          float: left;
        }
      }

      &.fourth {
        right: 20px;

        &.selected {
          float: right;
        }
      }

      &.selected {
        position: relative;
        max-height: 10000px;
        max-width: 40%;
      }

      ul {
        padding: 0;
        margin-left: 0;

        li {
          list-style-type: none;
          padding-left: 0;

          .blip-list-item {
            padding: 2px 5px;
            border-radius: 2px;
            cursor: pointer;
            font-size: $baseFont;
            font-weight: 400;

            &.highlight {
              color: white;
              background-color: rgba(0, 0, 0, 0.8);
            }
          }

          .blip-item-description {
            max-height: 0;
            overflow: hidden;
            width: 300px;

            p {
              margin: 0;
              border-top: 1px solid rgb(119, 119, 119);
              border-bottom: 1px solid rgb(119, 119, 119);
              padding: 20px;
              color: $grey-text;
              font-weight: 100;
              font-size: 14px;
            } 

            transition: max-height 0.2s ease;
            &.expanded {
              transition: max-height 0.5s ease 0.2s;
              max-height: 1000px;
            }
          }
        }
      }
    }
  }
}

@import 'responsive';